<div ng-controller="Shell as vm">
    <section id="content" class="content ui-view-container">
        <div ng-if="vm.isAuthenticated()" ng-include="'app/layout/navbar.html'"></div>

        <div ui-view class="shuffle-animation" class="container"></div>

        <div ngplus-overlay
             ngplus-overlay-delay-in="50"
             ngplus-overlay-delay-out="700"
             ngplus-overlay-animation="dissolve-animation">
            <img src="images/busy.gif" width="50px" height="50px;"/>

            <div class="page-spinner-message overlay-message">{{vm.busyMessage}}</div>
        </div>
    </section>
    <div class="clearfix"></div>
</div>
