@@ -0,0 +1,43 @@
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.DS_Store?
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Build Systems
jspm_packages/
node_modules/
bower_components/
build/
dist/

# Logs and databases 
logs
*.log
npm-debug.log*
*.sql
*.sqlite

# Runtime data
pids
*.pid
*.seed

# Sass cache and map
.sass-cache/
*.css.map

# Packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Optional things
*.sublime-project
*.sublime-workspace
sftp-config.json

# Webstorm data
.idea/

# Visual Studio Code
.vscode/

# tsd typings code
typings/